<div class="container header">
    <div class="row">
      <div class="col-sm-3">
        <h1>Jevelin</h1>
      </div>
      <div class="col-sm-6">
        <ul class="header-menu">
          <li>Home</li>
          <li>Gallery</li>
          <li>Features</li>
          <li>Reviews</li>
          <li>Shop</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-2">
            <fa-icon [icon]="faShoppingBasket"></fa-icon>
          </div>
          <div class="col-sm-6">
            <div class="sopping-cart">
              <a>Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>