<div class="container header">
    <div class="row">
      <div class="col-sm-3">
        <h1>Jevelin</h1>
      </div>
      <div class="col-sm-6">
        <ul class="header-menu">
          <li>
            <a class="w-text" href="#header">Home</a>
          </li>
          <li>
            <a class="w-text" href="#gallery">Gallery</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-2">
            <fa-icon [icon]="faShoppingBasket"></fa-icon>
          </div>
          <div class="col-sm-6">
            <div class="sopping-cart">
              <a>Sign In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>