<div class="footer container">
  <div class="row">
    <div class="col-sm-6 first-part">
      <h1 class="w-text logo">JEVELIN</h1>
      <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</span>

      <div class="payment">
        <fa-icon [icon]="faCreditCard"></fa-icon>
        <fa-icon [icon]="faShoppingBasket"></fa-icon>
        <fa-icon [icon]="faCreditCard"></fa-icon>
        <fa-icon [icon]="faShoppingBasket"></fa-icon>
      </div>

      <div class="secure-payment">
        <fa-icon [icon]="faLock"></fa-icon>
        <span>Secure online payment</span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <span class="w-text heading">BEST EXPERIENCE</span>
          <ul>
            <li>FAQ</li>
            <li>Shipment</li>
            <li>Returns</li>
            <li>Gift cards</li>
            <li>Policies</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <span class="w-text heading">COMPANY</span>
          <ul>
            <li>About Us</li>
            <li>Press</li>
            <li>Offices</li>
            <li>Affiliates</li>
            <li>Giveaway</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright t-align-center">Copyright © 2020 – Theme by Akash Gadhiya</p>
</div>