.gallery {
  position: relative;
  top: 117px;
  padding-bottom: 50px;
  margin-bottom: 20px;

  .gallery-about {
    text-align: center;
    padding-bottom: 50px;

    h1 {
      font-size: 48px;
      line-height: 60px !important;
      font-weight: 900 !important;
      margin-bottom: 50px;
    }

    h5 {
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      letter-spacing: 2px;
    }
  }
}

.carousel {
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 50px !important;
}

.slick-slider {
  width: 90%;
  margin: auto;
}

.slick-slide {
  img {
    height: 200px;
    width: 400px;
  }
}
