<!-- <router-outlet></router-outlet> -->
<section id="header">
  <app-header></app-header>
</section>

<section class="homepage" (scroll)="onScroll($event)">
  <div class="container">
    <div class="row">
      <img src="../assets/welcome.jpg" alt="welcome">
      <h1 class="w-text">Lifestyle <br>Smart Shoes</h1>
      <p class="w-text">Technology of Features</p>
      <ul>
        <li>Material Type: Mesh</li>
        <li>Allow your pair of shoes to air and de-odorize at a regular basis</li>
      </ul>
    </div>
  </div>
</section>

<section id="gallery">
  <app-gallery></app-gallery>
</section>

<section id="footer">
  <app-footer></app-footer>
</section>

<div class="top-arrow" (click)="scrollToTop()">
  <fa-icon class="w-text" [icon]="faArrowAltCircleUp"></fa-icon>
</div>