.container {
  max-width: inherit;
}

.header {
  overflow-y: auto;
  color: white;
  background: black;
  height: 79px;
  text-align: center;
  display: inline-grid;

  .row {
    align-items: center;
    justify-content: center;

    h1 {
      font-weight: 700 !important;
    }
  }
}

.header-menu {
  list-style: none;
  display: inline-flex;
  margin-bottom: 0;

  li {
    padding: 0 16px 0 16px;
    font-weight: 700;
  }
}

.sopping-cart {
  color: black;
  background-color: white;
  line-height: 3;
  border-radius: 25px;
}

.homepage {
  .row>img {
    width: -webkit-fill-available;
    height: 537px;
  }

  .container {
    position: relative;

    h1 {
      position: absolute;
      font-weight: 700;
      font-size: 63px;
      top: 31%;
      left: 7.5%;
      letter-spacing: 2px;
    }

    p {
      position: absolute;
      font-size: 20px;
      top: 63%;
      left: 7.5%;
      text-transform: uppercase;
    }

    ul {
      color: #aba2a2;
      position: absolute;
      font-size: 14px;
      top: 71%;
      left: 7.5%;
      list-style: none;
      padding: 0;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: black;
  background-color: white;

  .sopping-cart {
    color: white;
    background-color: black;
  }
}

.gallery {
  position: relative;
  top: 117px;
  padding-bottom: 50px;
  margin-bottom: 20px;

  .gallery-about {
    text-align: center;

    h1 {
      font-size: 48px;
      line-height: 60px !important;
      font-weight: 900 !important;
      margin-bottom: 50px;
    }

    h5 {
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      letter-spacing: 2px;
    }
  }
}

.footer {
  background-color: black;
  top: 117px;
  position: relative;
  padding: 50px 50px 20px 50px; 

  ul {
    list-style: none;
    color: white;
    padding: 0;
    margin-top: 15px;

    li {
      margin-bottom: 10px;
    }
  }

  .heading {
    font-weight: 700;
    font-size: 18px;
  }

  .first-part {
    padding-left: 53px;

    span {
      font-size: 16px;
      color: #a1a1a1;
      margin: 0px 0px 15px 0px;
    }

    .secure-payment {
      padding-top: 10px;

      fa-icon {
        color: white;
        font-size: 12px;
      }

      span {
        padding-left: 10px;
        font-size: 12px;
      }
    }
  }

  .logo {
    font-weight: 700;
    letter-spacing: 2px;
  }

  .payment {
    padding-top: 50px;

    fa-icon {
      font-size: 20px;
      cursor: pointer;
      text-align: center;
      color: white;
      padding-right: 20px;
    }
  }

  .copyright {
    color: #968f8f;
    margin-top: 30px;
  }
}

.top-arrow {
  position: fixed;
  float: right;
  font-size: 60px;
  margin-top: 25px;
  bottom: 8px;
  right: 26px;

  fa-icon {
    cursor: pointer;
    color: #968f8f;
  }
}
