

.homepage {
  .row>img {
    width: -webkit-fill-available;
    height: 537px;
  }

  .container {
    position: relative;

    h1 {
      position: absolute;
      font-weight: 700;
      font-size: 63px;
      top: 31%;
      left: 7.5%;
      letter-spacing: 2px;
    }

    p {
      position: absolute;
      font-size: 20px;
      top: 63%;
      left: 7.5%;
      text-transform: uppercase;
    }

    ul {
      color: #aba2a2;
      position: absolute;
      font-size: 14px;
      top: 71%;
      left: 7.5%;
      list-style: none;
      padding: 0;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: black;
  background-color: white;

  .sopping-cart {
    color: white;
    background-color: black;
  }
}



.top-arrow {
  position: fixed;
  float: right;
  font-size: 60px;
  margin-top: 25px;
  bottom: 8px;
  right: 26px;

  fa-icon {
    cursor: pointer;
    color: #968f8f;
  }
}
