<div class="container header" id="navbar">
  <div class="row">
    <div class="col-sm-3">
      <h1>Jevelin</h1>
    </div>
    <div class="col-sm-6">
      <ul class="header-menu">
        <li>Home</li>
        <li>Gallery</li>
        <li>Features</li>
        <li>Reviews</li>
        <li>Shop</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-2">
          <fa-icon [icon]="faShoppingBasket"></fa-icon>
        </div>
        <div class="col-sm-6">
          <div class="sopping-cart">
            <a>Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="homepage" (scroll)="onScroll($event)">
  <div class="container">
    <div class="row">
      <img src="../assets/welcome.jpg" alt="welcome">
      <h1 class="w-text">Lifestyle <br>Smart Shoes</h1>
      <p class="w-text">Technology of Features</p>
      <ul>
        <li>Material Type: Mesh</li>
        <li>Allow your pair of shoes to air and de-odorize at a regular basis</li>
      </ul>
    </div>
  </div>
</section>

<section class="gallery">
  <div class="gallery-about">
    <h5 class="w-black">About our shoes</h5>
    <h1>
      <span>New, Improved Design </span><br>
      <span>and Performance</span>
    </h1>
    <p>
      <span>New Design 95S Stripes Casual Running Shoes for men Black white Red</span><br>
      <span>Khaki mens Walking Boots Outdoor Sneakers 5-11bj8</span>
    </p>
  </div>
</section>