.page-container {
  margin: 30px;
}

.section-container {
  background-color: #aaaaaa;
  padding: 20px;

  .section-title {
    border-bottom: 1px solid #ddd;
    padding: 0;
    margin-bottom: 20px;
  }
}
