/* You can add global styles to this file, and also import other style files */

.container {
  max-width: inherit;
}

.w-text {
  color: white;
}

.b-text {
  color: black;
}

.t-align-center {
  text-align: center;
}

.require {
  color: red;
}
