.homepage {
    .row>img {
      width: -webkit-fill-available;
      height: 537px;
    }
  
    .container {
      position: relative;
  
      h1 {
        position: absolute;
        font-weight: 700;
        font-size: 63px;
        top: 31%;
        left: 7.5%;
        letter-spacing: 2px;
      }
  
      p {
        position: absolute;
        font-size: 20px;
        top: 63%;
        left: 7.5%;
        text-transform: uppercase;
      }
  
      ul {
        color: #aba2a2;
        position: absolute;
        font-size: 14px;
        top: 71%;
        left: 7.5%;
        list-style: none;
        padding: 0;
      }
    }
  }